<button class="btn btn-primary" (click)="login()" *ngIf="!tokenOk">Press here to login</button>
<alert type="success" *ngIf="tokenOk">
  Авторизация прошла успешно, теперь вы можете сделать проверку!
</alert>
